<!DOCTYPE html >
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div ng-controller="SimpleController">
        Name:
        <br />
        <input type="text" ng-model="name"> 
        
        
            <ul>
                <li ng-repeat="cust in customers | filter: name">{{ cust.prenom | lowercase }} - {{ cust.nom | uppercase }}</li>
            </ul>
         
    </div>
    <script src="jquery.js"></script>
    <script src="AngularJS.js"></script>
    <script src="js/main.js"></script>
    <script>
        var demoApp = angular.module('demoApp',[]);
        function SimpleController($scope){
            $scope.customers = [
                {prenom:'patrick', nom:'pierre'},
                {prenom:'claire' , nom:'Charpentier'},
                {prenom:'heddy'  , nom:'amara'}
                ];
        }
        demoApp.controller('SimpleController', SimpleController);
    </script>
    

    

</body>
</html>